.gallery-product-card:hover{
    scale: 1.01;
    transition-duration: .3s;
}

.product-image {
    position: relative;
    overflow: hidden;
  }
  
  .product-badge {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #0bb7e6;
    border-radius: 5px 0 0 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: margin 0.3s ease;
    width: 100px;
    height: 30px;
    margin-right: -70px;
  }
  
  .product-badge:hover {
    width: 120px; /* Adjust according to the desired width */
    height: 30px;
    margin-right: 0;
  }
  
  .product-badge-star {
    font-size: 16px;
    color: white;
  }
  
  .product-badge-text {
    font-size: 14px;
    color: white;
    margin-left: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .product-badge:hover .product-badge-text {
    opacity: 1;
  }
  